.header-bg{
    background-color: black;
}
.navbar-toggler{
    background-color: aliceblue !important;
}
.custom-link > a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    margin-bottom: 10px;
}
.custom-link>a:hover{
    color: green;
}
.activestyle{
    text-decoration: underline;
    margin-top: 10px;
}
.td-none{
    text-decoration: none
}